<h1>Collections#index</h1>
<p>Find me in app/views/collections/index.html.erb</p>

<% if request.path == collections_path %>
  <h2>Collections are private! You may view your collections <%= link_to "here", user_collections_path(current_user) %>.</h2>
<% elsif request.path == user_collections_path(current_user) %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @collections.each do |collection| %>
        <tr>
          <td><%= link_to collection.name, collection_path(collection) %></td>
          <td
            <% if current_user && current_user == collection.user %>
              <%= button_to "Edit", edit_collection_path(collection), method: :get, class: 'edit-btn' %>
              <%= button_to "Delete", collection_path(collection), method: :delete, data: { confirm: "Are you sure?" }, class: 'delete-btn' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>You do not have access to view this user's collections.</p>
<% end %>
