<h1>All Submissions</h1>

<ul>
<% @submissions.each do |submission| %>
  <li><%= display_user(submission) %> - <%= link_to submission.title, submission_path(submission) %></li>
<% end %>
</ul>
<br>
<%= link_to "Add New Submission", new_submission_path %>
