// Place all the styles related to the Upvotes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.tile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -1em;
}

.tile {
  flex: 0 0 calc(50% - 2em); // Two tiles side by side
  box-sizing: border-box;
  margin: 1em;
  padding: 1em;
  background-color: #ddd; // Background color of the tile
  border-radius: 10px; // Rounded corners
}

.tile-link {
  text-decoration: none;
  color: #333; // Text color
  font-weight: bold;
  display: block; // Makes the entire tile clickable
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
  background-color: #007BFF;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
  min-width: 160px;
  text-align: center;
}

.button:hover {
  background-color: #0056b3;
}

.github-button {
  background-color: #333333;
  color: #FFFFFF;
}

.github-button:hover {
  background-color: #1b1b1b;
}

.buttons-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
