// Place all the styles related to the Submissions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.submission-content {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  padding: 20px;
  background-color: #F2F2F2;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.labels-container, .content-container {
  display: flex;
  flex-direction: column;
  background-color: #f7f8fa;
  padding: 10px;
  border-radius: 10px;
}

.labels-container {
  flex-shrink: 0;
  width: 130px;
}

.content-container {
  flex-grow: 1;
  margin-left: 20px;
}

.content-container input, .content-container textarea, .content-container select {
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  box-sizing: border-box;
}

.label, .content-container div {
  margin-bottom: 20px;
}

.label {
  font-weight: 600;
}

.label:last-child, .content-container div:last-child {
  margin-bottom: 0;
}

.actions button {
  background-color: initial;
}

.form-content {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  width: 100%;
}

.new_collection_submission, .edit_collection_submission {
  display: flex;
  width: 100%;
}

.collection-selector-container {
  flex-grow: 1;
  margin-right: 20px;
}

.collection-submission-form {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
  background-color: #F2F2F2;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.collection-submission-form select {
  display: flex;
  flex-grow: 1;
  margin-right: 15px;
  border-radius: 10px;
  height: 30px;
  padding: 5px;
  width: 100%;
  box-sizing: border-box
}

.button.add-to-collection-btn {
  padding: 5px 10px;
  flex-shrink: 0;
  flex-basis: 75px;
  height: 30px;
  text-align: center;
  border-radius: 30px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}
